server:
  port: 8212

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: flight-service
          uri: lb://FLIGHT-SERVICE
          predicates:
            - Path=/api/flights/**

        - id: booking-service
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/flight/**

      httpserver:
        wiretap: true
      httpclient:
        wiretap: true

  datasource:
    url: jdbc:mysql://mysql:3306/authdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: virupavaraprasad22@gmail.com
    password: vqaw fqfi axog xdee
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

jwt:
  secret: MySuperSecretKeyForJwt123456789XYZ
  expiration: 86400000 # 24 hours in milliseconds

logging:
  level:
    org:
      springframework:
        security:
          oauth2: DEBUG
    com:
      netflix:
        discovery: DEBUG
